*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #458EAA;
    font-family: 'Inter', sans-serif;
}
@media only screen and (max-width:768px){
    #mobileLoginContainer{
        display: flex;
        flex-direction: column;
    }
    .fa-solid{
        font-size: 2rem;
        margin-top: 10px;
        margin-left: 10px;
    }
    #mobileImageLogoBlue{
        align-self: center;
        margin-top: 10px;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20px;
    }
    form > *{
        margin-bottom: 10px;
    }
    form > h2{
        color: #001BB0; 
        margin-left: 10px;
    }
    #mobileImageLogoWhite{
        display: none;
    }
    #mobileLoginFooter{
        display: flex;
        justify-content: space-around;
        margin-top: 70px;
    }
    #mobileLoginFooter:nth-child(odd){
        color: #fff;
        font-weight: 500;
    }
    #emailSection{
        margin-bottom: 20px;
        font-size: 1.1rem;
        padding: 10px;
        margin: 0px 10px 20px 10px;
        border-radius: 10px;
        border: none;
        outline-color: #458EAA;
    }
    #passwordSection{
        font-size: 1.1rem;
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 10px;
        margin: 0px 10px 20px 10px;
        border: none;
        outline-color: #458EAA;
    }
    #createAccountButton{
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
    }
    #loginButton{
        background-color: #001BB0;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 1rem;
        min-width: 70%;
        margin: auto;
        margin-top: 10px;
        border-radius: 7px;
        border: none;
        font-weight: bold;
    }
}
@media only screen and (min-width:769px) and (max-width:1440px){
    #mobileLoginContainer{
        display: flex;
        background-color: #ffffff;
        width: 70%;
        margin: auto;
        margin-top: 120px;
        box-shadow: 0px 0px 4px #000000;
        padding-top: 100px;
        padding-bottom: 100px;
        /* padding-left: 20px; */
        align-items: center;
        justify-content: space-betwe;
    }
    #form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        /* margin-left: 50px; */
    }
    #form > *{
        margin-bottom: 10px;
    }
    #form > h2{
        text-align: center;
        color: #000000;
        font-size: 1rem;
    }
    .fa-solid{
        display: none;
    }
    #mobileImageLogoBlue{
        display: none;
    }
    #mobileImageLogoWhite{
        flex-shrink: 0;
        margin-left: 30px;
        margin-right: 80px;
    }
    #emailSection{
        margin-bottom: 20px;
        font-size: 1.1rem;
        padding: 5px;
        margin: 0px 10px 20px 10px;
        border-radius: 7px;
        border: 1px solid grey;
        outline-color: #458EAA;
        
    }
    #passwordSection{
        font-size: 1.1rem;
        margin-bottom: 20px;
        border-radius: 7px;
        padding: 5px;
        margin: 0px 10px 20px 10px;
        border:  1px solid grey;
        outline-color: #458EAA;
    }
    #loginButton{
        background-color: #458EAA;
        color: #000000;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 1rem;
        min-width: 90%;
        margin: auto;
        margin-top: 10px;
        border-radius: 7px;
        border: none;
        font-weight: bold;
    }
}
@media only screen and (min-width:1440px){
    #mobileLoginContainer{
        display: flex;
        background-color: #ffffff;
        width: 70%;
        margin: auto;
        margin-top: 120px;
        box-shadow: 0px 0px 4px #000000;
        padding-top: 100px;
        padding-bottom: 100px;
        /* padding-left: 20px; */
        align-items: center;
        justify-content: space-betwe;
    }
    #form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        /* margin-left: 50px; */
    }
    #form > *{
        margin-bottom: 10px;
    }
    #form > h2{
        text-align: center;
        color: #000000;
        font-size: 1rem;
    }
    .fa-solid{
        display: none;
    }
    #mobileImageLogoBlue{
        display: none;
    }
    #mobileImageLogoWhite{
        flex-shrink: 0;
        margin-left: 30px;
        margin-right: 80px;
    }
    #emailSection{
        margin-bottom: 20px;
        font-size: 1.1rem;
        padding: 5px;
        margin: 0px 10px 20px 10px;
        border-radius: 7px;
        border: 1px solid grey;
        outline-color: #458EAA;
        
    }
    #passwordSection{
        font-size: 1.1rem;
        margin-bottom: 20px;
        border-radius: 7px;
        padding: 5px;
        margin: 0px 10px 20px 10px;
        border:  1px solid grey;
        outline-color: #458EAA;
    }
    #loginButton{
        background-color: #458EAA;
        color: #000000;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 100px;
        padding-right: 100px;
        font-size: 1rem;
        min-width: 90%;
        margin: auto;
        margin-top: 10px;
        border-radius: 7px;
        border: none;
        font-weight: bold;
    }
}
